<html>
    <head>
        <title>Swap Lessons</title>
        <style>
            #lesson_schedule_swap > div {
                border: 1px solid black;
                margin: 20px;
                padding: 5px;
            }

        </style>
    </head>

    <body>
        {{ form(swapForm) }}
    </body>
</html>